body{
    margin:0;
    overflow:hidden;
    background-color: #000;
    color:#fff;
    padding:0.25rem;
}
.main{
    display: flex;
    height:100vh;
}
.sidebar{
    background-color: #000;
    width: 340px;
    border-radius: 1rem; /*1rem==16px*/
    margin-right: 0.5rem;
}
.main-content{
    background-color: #121212;
    flex:1;
    border-radius: 1rem;
    overflow: auto;
}
.music-player{
    background-color: black;
     position:fixed; 
    bottom:0;
    width:100%;
    height: 72px; 
}
.nav-option a{
    color:white;
    text-decoration: none;
}
.nav{
    background-color: #121212; 
    border-radius: 1rem;
    height: 100px;
    display: flex;
    flex-direction:column;
    justify-content: center;
    padding:0.5rem 0.75rem;
}
.nav-option{
    line-height: 2.5rem;
    opacity: 0.7;
    padding: 0.5rem 0.75rem;

}
.nav-option:hover{
  
    opacity: 1;

}
.nav-option i{
    font-size:1.25rem;
    padding-right: 1rem;
}
.nav-option a{
    font-size:1rem;
}
.options{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.library{
    background-color: #121212;
    border-radius:1rem ;
    height: 100%;
    margin-top:0.5rem;
    padding:0.5rem 0.75rem;
}
.lib-option img{
    height: 1.25rem;
    width:1.25rem;
}
.icons{
    display: flex;
}
.icons i{
    font-size: 1.25rem;
    margin-right: 1rem;
    opacity: 0.7;

}
.icons i:hover{
    opacity: 1;
}
.lib-option img{
    margin-right: 1rem;
}
.box{
    border-radius: 0.75rem;
    background-color: #232323;
    height: 8rem;
    margin:0.5rem 0 0.5rem 0;
    padding:0.75rem 1rem;
}
.one{
    margin-top: 1.5rem;
}
.box-p1{
    font-size: 1rem;
    font-weight: 00;
}
.box-p2{
    font-size: 0.85rem;
    opacity: 0.9;
}
.badge{
    background-color: white;
    border:none;
    border-radius: 100px;
    padding:0.25rem 1rem;
    font-weight: 700;
    height: 1.5rem;
    width:fit-content;
}
.sticky-nav{
    position:sticky;
    top:0;
    background-color: #121212;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:1rem 0 1rem 0;
    z-index: 10;
}
.backforbtn{
    margin-left:0.75rem;
}
.stickyopt button,i{
    margin-right: 1rem;
}
.dark-badge{
    background-color: #000;
    color:#fff;
}
@media (max-width:1000px){
    .hide{
        display: none;
    }

}
.card{
    background-color: #232323;
    width:150px;
    padding:1rem 1rem;
    border-radius: 0.5rem;
    margin-left:2rem;
}
.card img{
    border-top-right-radius: 0.5rem;
    border-top-left-radius: 0.5rem;
    width: 100%;
}
.main-content h2{
    margin-left:1rem;
}
.card-title{
    font-weight: 700;
}
.card-info{
    font-size: 0.85rem;
    opacity: 0.8;
    line-height: 1.5;
}
.cards-container{
    display: flex;
    
    flex-wrap: wrap;
}
.footer{
    height: 300px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}
.line{
    border-top:1px solid #fff;
    width: 90%;
    height: 50%;
    opacity: 0.4;
}
.player-controls img{
    height: 1rem;
    width: 1rem;
    margin:1rem 2rem 0 0;
}
.player-controls{
    display: flex;
    justify-content:center;
    
}

.bar-assets{
    display: flex;
    justify-content: center;
    
    
    
}
.range{
    width: 50%;
    appearance:none;
    background: transparent;
    cursor:pointer;
}
.music-player{
    display: flex;
}
.player{
   width:50% ;
   
}
.album{
    width:25% ;
  
 }

.controls{
    width:25% ;
   
   
 }
 .con{
    opacity: 0.5;
 }
 .con:hover{
    opacity: 1;
 }
 .player-controls .play{
    height: 2rem;
    width:2rem;
    margin-top:0.5rem;
 }
 .play:hover{
    transform: scale(1.2);
    transition:all 0.2s linear;
 }
.range::-webkit-slider-runnable-track{
    background-color: #ddd;
    border-radius:50%;
    height: 0.20rem;
}
.range::-webkit-slider-thumb{
    appearance:none;
    height: 1rem;
    width:1rem;
    background-color: #1bd760;
    border-radius: 50%;
    margin-top:-6px;

}
.controlopt img{
    height: 2rem;
    width: 2rem;
    margin-top:1.3rem;
}
.controlopt{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 1rem;
}
    
.albumopt{
    display: flex;
}
.albumopt .img{
    border-radius: 0.5rem;
    height: 3.2rem;
    margin:0.5rem;
    margin-right: 1.6rem;
}
.albumopt p{
    line-height: 0.5rem;
    margin-right: 1.6rem;
}
.albumopt img{
height: 2rem;
margin-top:20px;
}
